<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bolnabhai</title>
    {{> head}}
</head>
<body>
    {{> profileHead}}
    <div class="jumbotron">
        <div class="container">

           <div class="row">
               <div class="col-6-md" style="margin-right:20px; ">
                   <img class="img-fluid img-thumbnail" src="{{path}}" style="height: 300px">
               </div>
               <div class="col-6-md">
                   hello,<h1 style="font-weight: bolder">{{name}}</h1> <h4>({{username}})</h4>
                   <span>Messages:</span><span style="font-weight: bolder">{{totalMessages}}</span>
               </div>
           </div>
        </div>
    </div>
    <div class="container">

        {{#each confessionsdata}}
        <div class="alert alert-dark">

        <p style="margin-bottom: 0px" feedbackId="{{dataValues.id}}">{{dataValues.confession}}</p>

        {{#if dataValues.flag}}
            <p style="text-align:right;font-weight: bolder;margin-bottom: 0px">- Anonymous</p>
        {{else}}
            <p style="text-align:right;font-weight: bolder;margin-bottom: 0px">- {{dataValues.confesserUsername}}</p>
        {{/if}}
        </div>
    {{/each}}

    </div>

</body>
</html>