<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bolnabhai</title>
    {{> head}}
</head>
<body>
    {{> profileHead}}

hello,<h1>{{name}}</h1> <h3>({{username}})</h3>

    <img src="{{path}}" style="height: 300px">


    {{#each confessionsdata}}


        <h2>{{dataValues.confession}}</h2>

        {{#if dataValues.flag}}
            &nbsp;&nbsp;&nbsp;&nbsp;-<span>Anonymous</span>
        {{else}}
            &nbsp;&nbsp;&nbsp;&nbsp;-<span>{{dataValues.confesserUsername}}</span>
        {{/if}}

    {{/each}}



</body>
</html>